<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">We are new garage in Green Island next to the old burnside fuel station. We specialiwse in performance parts and all that othr kind of crap you people want to waste your money on. If you have any questions please contact us using the details in the section below.</h3>
                </div>
            </div>

        </div>
    </section>