<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">

                <ul id="contact-details" class="bg-light-gray">
                    <li>
                        <h3>Address</h3>
                        <p>
                            Untitled Incorporated<br />
                            1234 Somewhere Road Suite<br />
                            Nashville, TN 00000-0000
                        </p>
                    </li>
                    <li>
                        <h3>Mail</h3>
                        <p><a href="#">someone@untitled.tld</a></p>
                    </li>
                    <li>
                        <h3>Phone</h3>
                        <p>(800) 000-0000</p>
                    </li>
                </ul>


            </div>
        </div>
    </section>
